---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import ProgressBar from "@components/ProgressBar.astro";

import revistaFanLogo from "@assets/logos/revista-fan-logo.svg";
import cookieLogo from "@assets/logos/cookie-logo.svg";
---

<style>
    body {
        background-color: #000000;
    }
</style>

<Layout>
    <div class="relative h-full">
        <div
            class="absolute inset-0 flex flex-col items-center justify-center gap-8 px-6"
        >
            <Image
                class="w-xl lg:w-2xl"
                src={revistaFanLogo}
                alt="Revista Fan Logo"
            />
            <p
                class="text-center text-xl font-bold text-white italic md:text-2xl lg:text-4xl"
            >
                EL SITIO ESTARÁ LISTO PRONTO
            </p>
            <ProgressBar />
        </div>
    </div>
</Layout>
