---
import "@fontsource-variable/open-sans";
import "@styles/global.css";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <!-- Primary Meta Tags -->
        <title>Revista Fan</title>
        <meta name="title" content="Revista Fan" />
        <meta
            name="description"
            content="Revista Fan es un espacio donde los fans y creadores pueden ser portada
y compartir su historia sin polémicas ni amarillismo.
Somos una revista independiente que destaca a fans, creadores de contenido y proyectos positivos, ofreciéndoles un lugar para compartir su pasión, su esfuerzo y su talento."
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.revistafan.com/" />
        <meta property="og:title" content="Revista Fan" />
        <meta
            property="og:description"
            content="Revista Fan es un espacio donde los fans y creadores pueden ser portada
y compartir su historia sin polémicas ni amarillismo.
Somos una revista independiente que destaca a fans, creadores de contenido y proyectos positivos, ofreciéndoles un lugar para compartir su pasión, su esfuerzo y su talento."
        />
        <meta
            property="og:image"
            content="https://www.revistafan.com/cover.jpg"
        />

        <!-- X (Twitter) -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://www.revistafan.com/" />
        <meta property="twitter:title" content="Revista Fan" />
        <meta
            property="twitter:description"
            content="Revista Fan es un espacio donde los fans y creadores pueden ser portada
y compartir su historia sin polémicas ni amarillismo.
Somos una revista independiente que destaca a fans, creadores de contenido y proyectos positivos, ofreciéndoles un lugar para compartir su pasión, su esfuerzo y su talento."
        />
        <meta
            property="twitter:image"
            content="https://www.revistafan.com/cover.jpg"
        />
    </head>
    <body>
        <div class="flex h-screen flex-col justify-between">
            <slot />
            <Footer />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        font-family: "Open Sans Variable", sans-serif;
    }
</style>
