---
import "@fontsource-variable/open-sans";
import "@styles/global.css";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Revista Fan</title>
    </head>
    <body>
        <div class="flex h-screen flex-col justify-between">
            <slot />
            <Footer />
        </div>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        font-family: "Open Sans Variable", sans-serif;
    }
</style>
